@model WeatherApp.Domain.DomainModels.WeatherSnapshot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WeatherSnapshot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumidityPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumidityPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindSpeedMs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindSpeedMs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UvIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UvIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RainProbability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RainProbability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
